@mixin flexCenter {
  display: flex;
  justify-content: center;
}

.counter {
  background-color: darkkhaki;
  @include flexCenter;
  flex-direction: column;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 1px red solid;

    li {
      border: 1px green solid;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
    }
  }
}

.counterNumber {
  @include flexCenter();
  font-size: 5rem;
  font-family: "Dancing Script", sans-serif;
}
